In [1]:
#Importamos las bibliotecas que usameros
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
import plotly.tools as tls
import plotly.plotly as py

In [2]:
#Cargamos nuestra base de datos con la que trabajaremos y le cambiamos algunas propiedades
df0= pd.read_csv('caborca.txt', skiprows=20, skipfooter=1, sep='\s+',header=None, names=["NFECHA","PRECIP","EVAP","TMAX","TMIN"], engine='python')
df0.head()

       NFECHA PRECIP  EVAP TMAX TMIN
0  01/08/1977      0  11.5   40   27
1  02/08/1977      0  10.9   39   27
2  03/08/1977      0  11.5   42   25
3  04/08/1977      0  11.5   43   24
4  05/08/1977      0  10.8   43   24

In [3]:
#Le damos estructura a los datos
df = pd.DataFrame(df0)

In [4]:
#Tipos de datos que Pandas decteca en nuestros datos
df.dtypes

NFECHA    object
PRECIP    object
EVAP      object
TMAX      object
TMIN      object
dtype: object

In [5]:
#Cambiamos los valores nulos a NaN
df['PRECIP']=df['PRECIP'].str.replace('Nulo','NaN').astype(np.float64)
df['EVAP']=df['EVAP'].str.replace('Nulo','NaN').astype(np.float64)
df['TMAX']=df['TMAX'].str.replace('Nulo','NaN').astype(np.float64)
df['TMIN']=df['TMIN'].str.replace('Nulo','NaN').astype(np.float64)

In [6]:
#Cambiamos el tipo de fecha: de object a Time
df['FECHA']=pd.to_datetime(df.apply(lambda x: x['NFECHA'],1), dayfirst=True)
df=df.drop(['NFECHA'],1)
df.head()

   PRECIP  EVAP  TMAX  TMIN      FECHA
0     0.0  11.5  40.0  27.0 1977-08-01
1     0.0  10.9  39.0  27.0 1977-08-02
2     0.0  11.5  42.0  25.0 1977-08-03
3     0.0  11.5  43.0  24.0 1977-08-04
4     0.0  10.8  43.0  24.0 1977-08-05

In [7]:
df.dtypes

PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
FECHA     datetime64[ns]
dtype: object

In [23]:
#Creando nuevas columnas para los meses y los años
df['MONTH']=df['FECHA'].dt.month
df['YEAR']=df['FECHA'].dt.year
df.head()

   PRECIP  EVAP  TMAX  TMIN      FECHA  MONTH  YEAR
0     0.0  11.5  40.0  27.0 1977-08-01      8  1977
1     0.0  10.9  39.0  27.0 1977-08-02      8  1977
2     0.0  11.5  42.0  25.0 1977-08-03      8  1977
3     0.0  11.5  43.0  24.0 1977-08-04      8  1977
4     0.0  10.8  43.0  24.0 1977-08-05      8  1977

In [32]:
#Tomar temperaturas TMIN menores a 0
SU = pd.DataFrame(df.loc[df['TMIN']<0])
SU.head()
#g1=SU.groupby(['YEAR'])

      PRECIP  EVAP  TMAX  TMIN      FECHA  MONTH  YEAR
455      0.0   0.9  10.0  -2.0 1978-12-08     12  1978
456      0.0   0.9  14.0  -2.0 1978-12-09     12  1978
457      0.0   0.9  16.0  -2.0 1978-12-10     12  1978
2291     0.0   4.9  24.0  -1.0 1984-02-17      2  1984
2596     0.0   NaN  14.0  -1.0 2001-01-17      1  2001