In [30]:
#Importante las bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df0= pd.read_csv('caborca.txt', skiprows=20, skipfooter=1, sep='\s+',header=None, names=["FECHA","PRECIP","EVAP","TMAX","TMIN"], engine='python')
df0.head()

        FECHA PRECIP  EVAP TMAX TMIN
0  01/08/1977      0  11.5   40   27
1  02/08/1977      0  10.9   39   27
2  03/08/1977      0  11.5   42   25
3  04/08/1977      0  11.5   43   24
4  05/08/1977      0  10.8   43   24

In [32]:
#Le damos estructura a los datos
df = pd.DataFrame(df0)

In [33]:
#Tipos de datos que pandas a dectecta en el DataFrame
df.dtypes

FECHA     object
PRECIP    object
EVAP      object
TMAX      object
TMIN      object
dtype: object

In [34]:
#Cambiar los valores nulos a NaN
df['PRECIP'] = df['PRECIP'].str.replace('Nulo','NaN').astype(np.float64)
df['EVAP'] = df['EVAP'].str.replace('Nulo','NaN').astype(np.float64)
df['TMAX'] = df['TMAX'].str.replace('Nulo','NaN').astype(np.float64)
df['TMIN'] = df['TMIN'].str.replace('Nulo','NaN').astype(np.float64)

In [35]:
#Cambiar la fecha tipo object a fecha tipo date
df['NFECHA'] = pd.to_datetime(df.apply(lambda x: x['FECHA'], 1), dayfirst=True)
df = df.drop(['FECHA'], 1)

df.head()

   PRECIP  EVAP  TMAX  TMIN     NFECHA
0     0.0  11.5  40.0  27.0 1977-08-01
1     0.0  10.9  39.0  27.0 1977-08-02
2     0.0  11.5  42.0  25.0 1977-08-03
3     0.0  11.5  43.0  24.0 1977-08-04
4     0.0  10.8  43.0  24.0 1977-08-05

In [36]:
df.dtypes

PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
NFECHA    datetime64[ns]
dtype: object

In [37]:
df.tail()

      PRECIP  EVAP  TMAX  TMIN     NFECHA
4036     0.0   NaN  22.0   6.0 2004-12-27
4037     0.0   NaN  21.0   8.0 2004-12-28
4038     0.0   NaN  23.0  11.0 2004-12-29
4039     0.0   NaN  21.0   9.5 2004-12-30
4040     0.0   NaN   NaN   6.0 2004-12-31

In [38]:
df.mean()

PRECIP     0.850866
EVAP       6.821810
TMAX      30.851168
TMIN      13.322277
dtype: float64

In [39]:
df.std()

PRECIP    4.669046
EVAP      3.612013
TMAX      8.363195
TMIN      7.574592
dtype: float64

In [40]:
df.median()

PRECIP     0.0
EVAP       6.4
TMAX      32.0
TMIN      12.0
dtype: float64

In [41]:
df.max()

PRECIP                  119.8
EVAP                     17.8
TMAX                       48
TMIN                       30
NFECHA    2004-12-31 00:00:00
dtype: object

In [42]:
df.min()

PRECIP                      0
EVAP                      0.2
TMAX                        6
TMIN                     -3.5
NFECHA    1977-08-01 00:00:00
dtype: object

In [43]:
df.describe()

            PRECIP         EVAP         TMAX         TMIN
count  4040.000000  2563.000000  4024.000000  4040.000000
mean      0.850866     6.821810    30.851168    13.322277
std       4.669046     3.612013     8.363195     7.574592
min       0.000000     0.200000     6.000000    -3.500000
25%       0.000000     3.850000    24.000000     7.000000
50%       0.000000     6.400000    32.000000    12.000000
75%       0.000000     9.700000    38.500000    20.000000
max     119.800000    17.800000    48.000000    30.000000

In [44]:
df['month'] = df['NFECHA'].dt.month
df['year'] = df['NFECHA'].dt.year
df.head()

   PRECIP  EVAP  TMAX  TMIN     NFECHA  month  year
0     0.0  11.5  40.0  27.0 1977-08-01      8  1977
1     0.0  10.9  39.0  27.0 1977-08-02      8  1977
2     0.0  11.5  42.0  25.0 1977-08-03      8  1977
3     0.0  11.5  43.0  24.0 1977-08-04      8  1977
4     0.0  10.8  43.0  24.0 1977-08-05      8  1977

In [45]:
#Calculando el numero de años con resgistros en el DataFrame
n=df['NFECHA'].dt.year.unique()
len(n)

12

In [46]:
#Calculando los mese con mas lluvias "Agosto fue el mes donde mas llovio"
for i in range(1,12):
    r1=df[df.month==i].PRECIP.sum()/len(n)
    print('mes',i,r1,'mm')

mes 1 23.833333333333332 mm
mes 2 11.799999999999999 mm
mes 3 16.566666666666666 mm
mes 4 5.6000000000000005 mm
mes 5 0.9833333333333334 mm
mes 6 1.2333333333333334 mm
mes 7 55.87499999999999 mm
mes 8 72.19166666666668 mm
mes 9 28.23333333333333 mm
mes 10 16.483333333333338 mm
mes 11 20.241666666666664 mm

In [47]:
#Calculando los meses más calidos "Mes mas calido fue Julio"
for i in range(1,12):
    r2=df[df.month==i].TMAX.mean()
    print('mes',i,r2,'℃')

mes 1 21.059587020648966 ℃
mes 2 22.389644012944984 ℃
mes 3 25.304545454545455 ℃
mes 4 29.536666666666665 ℃
mes 5 35.41348973607038 ℃
mes 6 39.985 ℃
mes 7 40.36135693215339 ℃
mes 8 38.892183288409704 ℃
mes 9 37.78272980501393 ℃
mes 10 32.30177514792899 ℃
mes 11 25.536585365853657 ℃

In [48]:
#Calculando el mes más frio "Mes con mas frio fue Enero"
for i in range(1,12):
    r3=df[df.month==i].TMIN.mean()
    print('mes',i,r3,'℃')

mes 1 5.212609970674487 ℃
mes 2 5.771704180064309 ℃
mes 3 7.873493975903615 ℃
mes 4 10.431666666666667 ℃
mes 5 13.939882697947214 ℃
mes 6 19.09 ℃
mes 7 23.639296187683286 ℃
mes 8 23.40456989247312 ℃
mes 9 21.227777777777778 ℃
mes 10 14.491176470588234 ℃
mes 11 8.365151515151515 ℃

In [49]:
#Calculando los años mas humedos "El año mas humedo fue en 1980 y el mas seco en 1977"
for i in range(df.year.min(),df.year.max()):
    r4=df[df.year==i].EVAP.mean()
    print('año',i,r4,)

año 1977 6.351315789473682
año 1978 6.541846153846152
año 1979 6.947790055248619
año 1980 7.564207650273218
año 1981 6.750564971751408
año 1982 6.901791044776124
año 1983 6.762275449101797
año 1984 6.414328358208956
año 1985 nan
año 1986 nan
año 1987 nan
año 1988 nan
año 1989 nan
año 1990 nan
año 1991 nan
año 1992 nan
año 1993 nan
año 1994 nan
año 1995 nan
año 1996 nan
año 1997 nan
año 1998 nan
año 1999 nan
año 2000 nan
año 2001 nan
año 2002 nan
año 2003 nan

In [50]:
#Calculando los inviernos mas frios "El mes mas frio fue Diciembre"
for i in range(1,4):
    r5=df[df.month==i].TMIN.mean()
    print('mes',i,r5,'℃')

mes 1 5.212609970674487 ℃
mes 2 5.771704180064309 ℃
mes 3 7.873493975903615 ℃

In [51]:
#Calculando la temperatura en diciembre
r51=df[df.month==12].TMIN.mean()
r51

5.184139784946237

In [52]:
#¿Cuáles años han tenido veranos más cálidos? "El mas mas calido fue Julio"
for i in range(6,10):
    r6=df[df.month==i].TMAX.mean()
    print('mes',i,r6,'℃')

mes 6 39.985 ℃
mes 7 40.36135693215339 ℃
mes 8 38.892183288409704 ℃
mes 9 37.78272980501393 ℃

In [116]:
#¿Cómo ha venido siendo la temperatura mensual promedio en los últimos 20 años? 
for i in range(df.year.max()-20,df.year.max()):
    df7=df[df.year==i]
    print(i)

1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003

In [70]:
#Calculando la DataFrame de los ultimos 20 años
df73 = pd.DataFrame(df.loc[df['year'].isin([1984,2003])])
df73.head()

      PRECIP  EVAP  TMAX  TMIN     NFECHA  month  year
2244     0.0   2.0  20.0   4.0 1984-01-01      1  1984
2245     0.6   2.2  18.0   5.0 1984-01-02      1  1984
2246     0.0   2.2  24.0   7.0 1984-01-03      1  1984
2247    22.4   2.4  18.0   8.0 1984-01-04      1  1984
2248     0.0   2.7  19.0  11.0 1984-01-05      1  1984

In [105]:
#CAlculando las temperaturas en los ultimos 20 años
for i in range(1,12):
    r7a=df73[df.month==i].TMAX.mean()
    r7b=df73[df.month==i].TMIN.mean()
    print('mes',i,'|','TMAX',r7a,'℃','|','TMIN',r7b,'℃')

mes 1 | TMAX 23.42622950819672 ℃ | TMIN 5.669354838709677 ℃
mes 2 | TMAX 23.133928571428573 ℃ | TMIN 5.464912280701754 ℃
mes 3 | TMAX 26.951612903225808 ℃ | TMIN 7.370967741935484 ℃
mes 4 | TMAX 30.333333333333332 ℃ | TMIN 9.016666666666667 ℃
mes 5 | TMAX 37.443548387096776 ℃ | TMIN 15.193548387096774 ℃
mes 6 | TMAX 39.05 ℃ | TMIN 19.15 ℃
mes 7 | TMAX 39.25806451612903 ℃ | TMIN 24.443548387096776 ℃
mes 8 | TMAX 38.00806451612903 ℃ | TMIN 23.887096774193548 ℃
mes 9 | TMAX 37.025 ℃ | TMIN 21.766666666666666 ℃
mes 10 | TMAX 31.28688524590164 ℃ | TMIN 15.596774193548388 ℃
mes 11 | TMAX 24.76271186440678 ℃ | TMIN 7.425 ℃

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [113]:
for i in range(1,13):
    r7a=df73[df.month==i].PRECIP.mean()

    print('mes',i,r7a)

mes 1 0.4032258064516129
mes 2 0.3385964912280702
mes 3 0.24193548387096775
mes 4 0.0
mes 5 0.03225806451612903
mes 6 0.155
mes 7 2.164516129032258
mes 8 4.920967741935483
mes 9 1.6516666666666666
mes 10 0.6161290322580646
mes 11 0.5083333333333333
mes 12 1.0693548387096776

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [125]:
#¿Qué ha pasado con la precipitación en los últimos 20 años de datos? 
for i in range(1984,2004):
    df8=df73[df.year==i].PRECIP.mean()
    print(i,df8)

1984 1.1693452380952378
1985 nan
1986 nan
1987 nan
1988 nan
1989 nan
1990 nan
1991 nan
1992 nan
1993 nan
1994 nan
1995 nan
1996 nan
1997 nan
1998 nan
1999 nan
2000 nan
2001 nan
2002 nan
2003 0.9619178082191782

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until