In [1]:
#Importamos las bibliotecas que usameros
import pandas as pd
import numpy as np
import matplotlib as plt

In [7]:
#Cargamos nuestra base de datos con la que trabajaremos y le cambiamos algunas propiedades
df0= pd.read_csv('caborca.txt', skiprows=20, skipfooter=1, sep='\s+',header=None, names=["NFECHA","PRECIP","EVAP","TMAX","TMIN"], engine='python')
df0.head()

       NFECHA PRECIP  EVAP TMAX TMIN
0  01/08/1977      0  11.5   40   27
1  02/08/1977      0  10.9   39   27
2  03/08/1977      0  11.5   42   25
3  04/08/1977      0  11.5   43   24
4  05/08/1977      0  10.8   43   24

In [8]:
#Le damos estructura a los datos
df = pd.DataFrame(df0)

In [9]:
#Tipos de datos que Pandas decteca en nuestros datos
df.dtypes

NFECHA    object
PRECIP    object
EVAP      object
TMAX      object
TMIN      object
dtype: object

In [5]:
#Cambiamos los valores nulos a NaN
df['PRECIP']=df['PRECIP'].str.replace('Nulo','NaN').astype(np.float64)
df['EVAP']=df['EVAP'].str.replace('Nulo','NaN').astype(np.float64)
df['TMAX']=df['TMAX'].str.replace('Nulo','NaN').astype(np.float64)
df['TMIN']=df['TMIN'].str.replace('Nulo','NaN').astype(np.float64)

In [11]:
#Cambiamos el tipo de fecha: de object a Time
df['FECHA']=pd.to_datetime(df.apply(lambda x: x['NFECHA'],1), dayfirst=True)
df=df.drop(['NFECHA'],1)
df.head()

  PRECIP  EVAP TMAX TMIN      FECHA
0      0  11.5   40   27 1977-08-01
1      0  10.9   39   27 1977-08-02
2      0  11.5   42   25 1977-08-03
3      0  11.5   43   24 1977-08-04
4      0  10.8   43   24 1977-08-05